.App {
  text-align: center;
  /* color: black; */
}


.App {
   /* background-color:  #E6BEC0; */
   background-color:  #A9C5C7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: gray;
}

.blank{
  background-color: grey;
  color: gray;
}

#reset {
  /* background-color: #E6BEC0; */
  background-color:#A9C5C7;
  /* border-color: #E6BEC0; */
  border-color: #A9C5C7

}


/* let tempTile = tempArray[id].location;
        console.log({tempTile})
      tempArray[id].location = tempArray[blankIndex].location;
        console.log(tempArray[id].location)
      tempArray[blankIndex].location = tempTile;
        console.log(tempArray[blankIndex].location)
      }
      this.setState({ tiles: tempArray });
       console.log(this.state.tiles)
  } */


  /* //   findBlankObject(id, tiles) {
    //     let blankObject = 0;
    //     for (let i = 0; i < this.state.tiles.length; i++) {
    //         if (tiles[i].location === this.state.tiles.location) {
    //             blankObject = i;
    //             break;
    //         }
    //     }
    //     return blankObject;
    // } */